<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.clm.Dao.CartMapper" >
  <resultMap id="BaseResultMap" type="org.clm.Pojo.Cart" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="checked" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <resultMap id="cartProduct" type="org.clm.VO.CartProductVo">
    <result column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="product_id" property="productId"/>
    <result column="quantity" property="quantity"/>

    <result column="checked" property="productChecked"/>
    <result column="name" property="productName" />
    <result column="subtitle"  property="productSubtitle"/>
    <result column="main_image"  property="productMainImage"/>
    <result column="price"  property="productPrice"/>
    <result column="stock"  property="productStock"/>
    <result column="status" property="productStatus" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, product_id, quantity, checked, create_time, update_time
  </sql>
  <sql id="cartProduct">
    c.id, c.user_id, c.product_id, c.quantity,c.checked,
    p.name,p.subtitle,p.main_image,p.price,p.stock,p.status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mmall_cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="cartProduct" parameterType="int">
  select
  <include refid="cartProduct"/>
  from mmall_cart c
  left join mmall_product p
  on c.product_id = p.id
  where user_id = #{userId}
  </select>
  <select id="checkStockAndCar" resultType="Cart" parameterType="map">
    select *
    from mmall_cart
    where product_id = #{productId}
    and user_id = #{userId}
  </select>
  <select id="selectByIdAll" resultType="org.clm.Pojo.Cart" parameterType="int">
    select
    <include refid="Base_Column_List"/>
    from mmall_cart
    where
    user_id = #{userId}
  </select>
  <select id="selectCartProductCount" resultType="java.lang.Integer" parameterType="integer">
    select IFNULL (sum(quantity),0) as count
    from mmall_cart
    where
    user_id = #{userId}
  </select>
    <select id="selectCartCheckedByUserId" resultType="org.clm.Pojo.Cart" parameterType="int">
      select
      <include refid="Base_Column_List"/>
      from mmall_cart
      where
      user_id = #{userId}
      and checked = 1
    </select>
    <!--<select id="selectCarByIdAndProtuct" resultType="org.clm.Pojo.Cart">
      select
    </select>-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mmall_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByIds" parameterType="map">
    delete from mmall_cart
    where user_id = #{userId}
    <if test="productIdList != null">
        and product_id in
      <foreach collection="productIdList" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </delete>

  <insert id="insert" parameterType="org.clm.Pojo.Cart" >
    insert into mmall_cart (id, user_id, product_id, 
      quantity, checked, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{quantity,jdbcType=INTEGER}, #{checked,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.clm.Pojo.Cart" >
    insert into mmall_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="checked != null" >
        checked,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="checked != null" >
        #{checked,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.clm.Pojo.Cart" >
    update mmall_cart
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="checked != null" >
        checked = #{checked,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.clm.Pojo.Cart" >
    update mmall_cart
    set user_id = #{userId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      checked = #{checked,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateCheck" parameterType="map">
  update mmall_cart
  set checked = #{checked}
  where user_id = #{userId}
  <if test="productId != null">
    and product_id = #{productId}
  </if>
  </update>


</mapper>