<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!--&lt;!&ndash; 1 创建目标类 &ndash;&gt;-->
	<!--<bean id="target" class="proxy.inteface.tiger"/>-->

	<!--&lt;!&ndash; 2 创建切面类（通知） &ndash;&gt;-->
	<!--<bean id="aspectx" class="proxy.inteface.Aspect" />-->

	<!--<aop:config >-->
		<!--&lt;!&ndash;-->
			<!--execution(* com.itheima.c_spring_aop.*.*(..))-->
			<!--选择方法         返回值任意   包             类名任意   方法名任意   参数任意-->
		<!--&ndash;&gt;-->
		<!--&lt;!&ndash;切入点 ，从目标对象获得具体方法&ndash;&gt;-->
		<!--<aop:pointcut id="pointcut" expression="execution(* proxy.inteface.tiger.eat(..))" />-->
		<!--&lt;!&ndash;特殊的切面，只有一个通知 和 一个切入点advice-ref 通知引用pointcut-ref 切入点引用&ndash;&gt;-->
		<!--<aop:advisor advice-ref="aspectx" pointcut-ref="pointcut" />-->
	<!--</aop:config>-->
</beans>
